<h1>Sign Up</h1>

<%= form_for @user do |f| %>
  <%= f.text_field :name, placeholder: "Enter your name" %><br>
  <%= f.text_field :email, placeholder: "Enter your email" %><br><br>
  <%= f.password_field :password, placeholder: "Enter a password" %><br>
  <%= f.password_field :password_confirmation, placeholder: "Confirm password" %><br>
<%= f.submit "Sign Up" %>
<% end %>