
<div class="container">
  <button type="button" class="btn btn-primary btn-default pull-right"><span class="glyphicon glyphicon-plus"></span> <%= link_to "Add a Resource", new_post_path %></button>
</div>

<h2>List of Posts</h2>

<table>
<tr>
  <th>Title</th>
  <th>Source</th>
  <th>URL</th>
  <th>Category</th>
</tr>
<% @posts.each do |post| %>
<tr>
  <td><%= post.title %></td>
  <td><%= post.source %></td>
  <td><a href="<%= post.url %>"><%= post.url %></a></td>
  <td><ul><%= render post.categories %></ul></td>
</tr>
<% end %>
</table>