<h1>Create a New Post</h1>

<%= form_for @post do |f| %>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div>
    <%= f.label :source %>
    <%= f.text_field :source %>
  </div>
  
  <div>
    <%= f.label :url %>
    <%= f.text_field :url %>
  </div>

  <fieldset>
    <%= f.label :category %>
    <%= f.collection_check_boxes :category_ids, Category.all, :id, :name %>
  </fieldset>

  <div><%= f.submit %></div>

<% end %>