<!DOCTYPE html>
<html>
<head>
  <title>Reddit for Resources</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <header>
    <%= render 'layouts/navigation' %>
  </header>

  <div class="container">
    <p style="color: tomato; font-size: 16px" class="notice text-center"><%= flash[:notice] %></p>
    <p class="error"><%= flash[:error] %></p>
    <%= yield %>
  </div>

</body>
</html>
